Source: icinga-web
Section: php
Priority: extra
Maintainer: Markus Frosch <markus.frosch@netways.de>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, quilt
Standards-Version: 3.9.1
Homepage: http://www.icinga.org
Vcs-Git: git://git.netways.org/icinga.web-debian.git
Vcs-Browser: https://git.netways.org/?p=icinga.web-debian.git;a=summary

Package: icinga-web
Architecture: all
Depends: icinga (>= 1.6.1), ucf, dbconfig-common, php5-cli, php5, php5-gd, php5-xsl, php5-mysql, ${misc:Depends}
Recommends: mysql-client
Description: Icinga's new webinterface
 Icinga offers 2 web interfaces for users to view Icinga monitoring
 results and send commands to the Icinga Core. In both Icinga New and
 Classic Web, host and service status, history, notifications and
 status maps are available to keep a check on the health of your network
 in real-time. Both also support IPv4 as well as IPv6 addresses.

Package: icinga-web-pnp
Architecture: all
Depends: icinga-web (= ${source:Version}), ${misc:Depends}
Description: A plugin for icinga-web to integrate pnp4nagios in the
 webinterface.
 .
 This only installs some xml files for the webinterface - no database
 modification required.

Package: icinga-web-bp
Architecture: all
Depends: icinga-web (= ${source:Version}), ${misc:Depends}
Description: A plugin for icinga-web to integrate the icinga business
 process addon in the webinterface.
 .
 This only installs some xml files for the webinterface - no database
 modification required.

