Source: icinga-web
Section: php
Priority: extra
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Markus Frosch <lazyfrosch@debian.org>, Alexander Wirt <formorer@debian.org>, Jan Wagner <waja@cyconet.org>
Build-Depends: autotools-dev, debhelper (>= 7.0.50~), po-debconf, php5-cli, php5-xsl, php5-json
Standards-Version: 3.9.5
Homepage: http://www.icinga.org
Vcs-Git: git://anonscm.debian.org/pkg-nagios/pkg-icinga-web.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-nagios/pkg-icinga-web.git;a=summary

Package: icinga-web
Architecture: all
Depends: dbconfig-common,
         php5,
         php5-cli,
         php5-gd,
         php5-mysql | php5-mysqlnd | php5-pgsql,
         php5-xsl,
         php5-json,
         ucf,
         ${misc:Depends}
# Notice: this will prevent users from using icinga-web 1.11 with a
# Icinga IDO lower than 1.11 - also see the appropriate NEWS entry
Breaks: icinga-idoutils (<< 1.11)
Recommends: icinga-idoutils,
            apache2 | httpd,
            mysql-client | postgresql-client
Suggests: icinga-doc, nagios-images
Description: host and network monitoring system - modern web interface
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port;
  * plugin interface to allow for user-developed service checks;
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events);
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package provides the new web interface to view Icinga monitoring
 results and send commands to the Icinga Core. Host and service status,
 history, notifications and status maps are available to keep a check on
 the health of your network in real time.

Package: icinga-web-pnp
Architecture: all
Depends: icinga-web (= ${source:Version}), ${misc:Depends}
Recommends: pnp4nagios-web-config-icinga | pnp4nagios-web
Suggests: pnp4nagios
Description: host and network monitoring system - PNP4Nagios web plugin
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port;
  * plugin interface to allow for user-developed service checks;
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events);
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package provides a plugin for Icinga's new web interface,
 integrating PNP4Nagios to provide direct access to its data.

