#!/bin/bash

set -e
#set -x

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
        dbc_dbtypes="mysql, pgsql"
        dbc_dbuser="icinga_web"
        dbc_dbname="icinga_web"
        dbc_authmethod_user="password"
        . /usr/share/dbconfig-common/dpkg/config
        dbc_go icinga-web $@
fi

###
# Configure web server
###

# (taken from the webapps-common httpd functions)
# wc_httpd_installed: test for installed httpds
# usage:
#       wc_httpd_installed [ httpd1 httpd2 ... ]
#
# no arguments implies to test for all servers
wc_httpd_installed(){
        local httpds
        if [ "$*" ]; then
                httpds=$*
        else
                httpds=$wc_httpd_supported
        fi
        for f in $httpds; do
                if test -x /usr/sbin/$f; then
                        echo $f
                fi
        done
}


# list of installed servers to check for
default_servers=`wc_httpd_installed apache2`
# convert list to comma seperated list
server_list=`echo $default_servers | sed -e 's/[[:space:]][[:space:]]*/, /g'`

# if they haven't already been prompted, preseed the server selection
db_fget icinga-web/httpd seen
if [ "$RET" = "false" ]; then
    db_set icinga-web/httpd $server_list
fi

db_input high icinga-web/httpd || true
db_go || true

###
# Configure the root password for icinga-web
# only when dbconfig-common is used...
###
db_get icinga-web/dbconfig-install || true
dbconfig_there="$RET"
db_fget icinga-web/rootpassword seen || true
rootpassword_seen="$RET"
if [ "$1" = "reconfigure" ]; then
    rootpassword_seen=false
fi

if [ "$dbconfig_there" = "true" ] && [ "$rootpassword_seen" != "true" ]; then
    passwordsmatch=no
    while [ "$passwordsmatch" != "yes" ]; do
        # enter password
        db_input high icinga-web/rootpassword || true
        db_input high icinga-web/rootpassword-repeat || true
        db_go || true
        # verify input
        db_get icinga-web/rootpassword
        p1="$RET"
        db_get icinga-web/rootpassword-repeat
        p2="$RET"
        if [ "$p1" = "$p2" ]; then
            passwordsmatch="yes"
            db_set icinga-web/rootpassword_changed true
        else
            db_fset icinga-web/rootpassword seen false
            db_fset icinga-web/rootpassword-repeat seen false
            db_fset icinga-web/rootpassword-mismatch seen false
            db_input critical icinga-web/rootpassword-mismatch || true
        fi
    done
fi

db_go || true

