#!/bin/bash

set -e
#set -x

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
        dbc_dbtypes="mysql, pgsql"
        dbc_dbuser="icinga_web"
        dbc_dbname="icinga_web"
        dbc_authmethod_user="password"
        . /usr/share/dbconfig-common/dpkg/config
        dbc_go icinga-web $@
fi

###
# Configure the root password for icinga-web
# only when dbconfig-common is used...
###
db_get icinga-web/dbconfig-install || true
dbconfig_there="$RET"
db_fget icinga-web/rootpassword seen || true
rootpassword_seen="$RET"
if [ "$1" = "reconfigure" ]; then
    rootpassword_seen=false
fi

if [ "$dbconfig_there" = "true" ] && [ "$rootpassword_seen" != "true" ]; then
    passwordsmatch=no
    while [ "$passwordsmatch" != "yes" ]; do
        # enter password
        db_input high icinga-web/rootpassword || true
        db_input high icinga-web/rootpassword-repeat || true
        db_go || true
        # verify input
        db_get icinga-web/rootpassword
        p1="$RET"
        db_get icinga-web/rootpassword-repeat
        p2="$RET"
        if [ "$p1" = "$p2" ]; then
            passwordsmatch="yes"
            db_fset icinga-web/rootpassword changed true
        else
            db_fset icinga-web/rootpassword seen false
            db_fset icinga-web/rootpassword-repeat seen false
            db_fset icinga-web/rootpassword-mismatch seen false
            db_input critical icinga-web/rootpassword-mismatch || true
        fi
    done
fi

db_go || true

