#!/bin/bash

set -e
#set -x

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
        dbc_dbuser="icinga_web"
        dbc_dbname="icinga_web"
        dbc_authmethod_user="password"
        . /usr/share/dbconfig-common/dpkg/config.mysql
        dbc_go icinga-web $@
fi

db_go || true

